[submodule "api-registry"]
	path = api-registry
	url = https://github.com/mrchughes/api-registry.git
[submodule "FEP"]
	path = FEP
	url = https://github.com/mrchughes/FEP.git
[submodule "solid-pds"]
	path = solid-pds
	url = https://github.com/mrchughes/solid-pds.git
[submodule "DRO"]
	path = DRO
	url = https://github.com/mrchughes/DRO.git
[submodule "vc-verifier"]
	path = vc-verifier
	url = https://github.com/mrchughes/vc-verifier.git
